

.header {
    background-color: #0d0d0e;
    /* padding: 10px 20px; */
   /* margin: 0; */
  }


  nav {
    list-style-type: none;
    margin: 0;
    top: 0;
    width: 100vw;
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
  }

  nav li {
    display: inline;
    float: left;
    color: white;
  }

  li a {
    display: block;
    padding: 14px 16px;
    color: white; 
    text-decoration: none;
  }

  li a:hover{
    background-color: #111;
  }