/* #root { */
  /* max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem;
  text-align: center; */ */
/* } */



.card{
  background-color: #F0F0F0;
  padding: 20px;
  border-radius: 5px;
  color: #333;

}

.read-the-docs {
  color: #888;
}