.card {
    display: flex;
    justify-content: center;
    border-color: black;
    border-radius: 100px;
    background-color: gray;
    height: 34vh;
    width: 70%;
    margin-top: 80px;
    
}


.card img {
    border-radius: 150px;
    size: 10000000px;
    height: 35vh;
}


#tagLine {
    color: rgb(32, 4, 4);
}

.portfolioList {
    display: flex;
    justify-content: center;
    
}

#dialCenter {
    background-color: rgb(209, 0, 0);
    height: 20px;
    width: 20px;
    border-radius: 100px;
}
