.card {
    border-color: black;
    border-radius: 100px;
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-color: gray;
}


#tagLine {
    color: rgb(124, 11, 11);
}

